In [11]:
from tensorflow.keras.applications.vgg19 import VGG19
from tensorflow.keras.layers import Flatten,Dense,Dropout,Conv2D,MaxPooling2D
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.models import Sequential
from tensorflow.keras.applications.xception import Xception

In [2]:
mod=VGG19(include_top=False,input_shape=(224,224,3))
model=Sequential()
for layer in mod.layers:
  layer.trainable=False
  model.add(layer)

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg16/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
58892288/58889256 [==============================] - 1s 0us/step

In [3]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
block1_conv1 (Conv2D)        (None, 224, 224, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 224, 224, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 112, 112, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 112, 112, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 112, 112, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 56, 56, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 56, 56, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 28, 28, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 28, 28, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 14, 14, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
=================================================================
Total params: 14,714,688
Trainable params: 0
Non-trainable params: 14,714,688
_________________________________________________________________

In [0]:
def model1(model):
  model.add(Flatten())
  model.add(Dense(128,activation='relu'))
  model.add(Dropout(0.5))
  model.add(Dense(16,activation='relu'))
  model.add(Dense(1,activation='sigmoid'))
  model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
  return model

In [0]:
model11=model1(model)

In [33]:
model11.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
block1_conv1 (Conv2D)        (None, 224, 224, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 224, 224, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 112, 112, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 112, 112, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 112, 112, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 56, 56, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 56, 56, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 28, 28, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 28, 28, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 14, 14, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
_________________________________________________________________
flatten (Flatten)            (None, 25088)             0
_________________________________________________________________
dense (Dense)                (None, 128)               3211392
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 1032
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
_________________________________________________________________
flatten_2 (Flatten)          (None, 1)                 0
_________________________________________________________________
dense_6 (Dense)              (None, 128)               256
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 16)                2064
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 17
=================================================================
Total params: 17,929,458
Trainable params: 3,214,770
Non-trainable params: 14,714,688
_________________________________________________________________

In [0]:
def model2():
  model=Sequential()
  model.add(Conv2D(32,(3,3),input_shape=(224,224,3),activation='relu'))
  model.add(MaxPooling2D((2,2)))
  model.add(Conv2D(64,(3,3),activation='relu'))
  model.add(MaxPooling2D((2,2)))
  model.add(Conv2D(64,(3,3),activation='relu'))
  model.add(MaxPooling2D((2,2)))
  model.add(Flatten())
  model.add(Dense(128,activation='relu'))
  model.add(Dropout(0.4))
  model.add(Dense(16,activation='relu'))
  model.add(Dense(1,activation='sigmoid'))
  model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
  return model

In [0]:
model22=model2()

In [29]:
model22.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_4 (Conv2D)            (None, 222, 222, 32)      896
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 111, 111, 32)      0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 109, 109, 64)      18496
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 54, 54, 64)        0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 52, 52, 64)        36928
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 26, 26, 64)        0
_________________________________________________________________
flatten_1 (Flatten)          (None, 43264)             0
_________________________________________________________________
dense_3 (Dense)              (None, 128)               5537920
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_4 (Dense)              (None, 16)                2064
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 17
=================================================================
Total params: 5,596,321
Trainable params: 5,596,321
Non-trainable params: 0
_________________________________________________________________

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
dat='images.zip'

In [0]:
!unzip -q "/content/drive/My Drive/images.zip"

In [0]:
import os

In [13]:
os.listdir('train/')

['emergency', 'non=emergency']

In [0]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [0]:
gen=ImageDataGenerator(rescale=1/255,fill_mode='nearest',horizontal_flip=True,validation_split=0.2,zoom_range=0.2,rotation_range=0.2,shear_range=0.2)

In [16]:
gen.flow_from_directory('train')

Found 1646 images belonging to 2 classes.

In [30]:
train_gen=gen.flow_from_directory('train',target_size=(224,224),color_mode='rgb',class_mode='binary',subset='training',batch_size=32)
val_gen=gen.flow_from_directory('train',target_size=(224,224),color_mode='rgb',class_mode='binary',subset='validation',batch_size=32)

Found 1317 images belonging to 2 classes.
Found 329 images belonging to 2 classes.

In [34]:
early=EarlyStopping(monitor='val_loss',patience=7,verbose=3,mode='min')
model11.fit_generator(train_gen,epochs=50,validation_data=val_gen,callbacks=[early])

WARNING:tensorflow:From <ipython-input-34-25ec9002a853>:2: Model.fit_generator (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
Please use Model.fit, which supports generators.
Epoch 1/50
42/42 [==============================] - 21s 507ms/step - loss: 0.6758 - accuracy: 0.5839 - val_loss: 0.6458 - val_accuracy: 0.5866
Epoch 2/50
42/42 [==============================] - 19s 455ms/step - loss: 0.6292 - accuracy: 0.5862 - val_loss: 0.5753 - val_accuracy: 0.5866
Epoch 3/50
42/42 [==============================] - 19s 456ms/step - loss: 0.5771 - accuracy: 0.6689 - val_loss: 0.5278 - val_accuracy: 0.8146
Epoch 4/50
42/42 [==============================] - 19s 454ms/step - loss: 0.5213 - accuracy: 0.8155 - val_loss: 0.5062 - val_accuracy: 0.8024
Epoch 5/50
42/42 [==============================] - 19s 457ms/step - loss: 0.5197 - accuracy: 0.7715 - val_loss: 0.4983 - val_accuracy: 0.8237
Epoch 6/50
42/42 [==============================] - 19s 458ms/step - loss: 0.4894 - accuracy: 0.8185 - val_loss: 0.4606 - val_accuracy: 0.8298
Epoch 7/50
42/42 [==============================] - 19s 457ms/step - loss: 0.4913 - accuracy: 0.7798 - val_loss: 0.5507 - val_accuracy: 0.6565
Epoch 8/50
42/42 [==============================] - 19s 455ms/step - loss: 0.4908 - accuracy: 0.7965 - val_loss: 0.4457 - val_accuracy: 0.8237
Epoch 9/50
42/42 [==============================] - 19s 453ms/step - loss: 0.4396 - accuracy: 0.8405 - val_loss: 0.4229 - val_accuracy: 0.8328
Epoch 10/50
42/42 [==============================] - 19s 454ms/step - loss: 0.4129 - accuracy: 0.8671 - val_loss: 0.4051 - val_accuracy: 0.8875
Epoch 11/50
42/42 [==============================] - 19s 457ms/step - loss: 0.3985 - accuracy: 0.8831 - val_loss: 0.3799 - val_accuracy: 0.8754
Epoch 12/50
42/42 [==============================] - 19s 460ms/step - loss: 0.3944 - accuracy: 0.8732 - val_loss: 0.4148 - val_accuracy: 0.8389
Epoch 13/50
42/42 [==============================] - 19s 456ms/step - loss: 0.3732 - accuracy: 0.8876 - val_loss: 0.3480 - val_accuracy: 0.8815
Epoch 14/50
42/42 [==============================] - 19s 455ms/step - loss: 0.3642 - accuracy: 0.8869 - val_loss: 0.3556 - val_accuracy: 0.8845
Epoch 15/50
42/42 [==============================] - 19s 458ms/step - loss: 0.3585 - accuracy: 0.8762 - val_loss: 0.3295 - val_accuracy: 0.8875
Epoch 16/50
42/42 [==============================] - 19s 454ms/step - loss: 0.3061 - accuracy: 0.8967 - val_loss: 0.3016 - val_accuracy: 0.8875
Epoch 17/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2860 - accuracy: 0.9036 - val_loss: 0.2877 - val_accuracy: 0.8967
Epoch 18/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2911 - accuracy: 0.9074 - val_loss: 0.2839 - val_accuracy: 0.9027
Epoch 19/50
42/42 [==============================] - 19s 458ms/step - loss: 0.3041 - accuracy: 0.8983 - val_loss: 0.2879 - val_accuracy: 0.8906
Epoch 20/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2837 - accuracy: 0.9096 - val_loss: 0.3466 - val_accuracy: 0.8602
Epoch 21/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2738 - accuracy: 0.9058 - val_loss: 0.3257 - val_accuracy: 0.8754
Epoch 22/50
42/42 [==============================] - 19s 457ms/step - loss: 0.2832 - accuracy: 0.9005 - val_loss: 0.2928 - val_accuracy: 0.8997
Epoch 23/50
42/42 [==============================] - 19s 456ms/step - loss: 0.2461 - accuracy: 0.9263 - val_loss: 0.2746 - val_accuracy: 0.9058
Epoch 24/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2807 - accuracy: 0.9036 - val_loss: 0.2811 - val_accuracy: 0.8997
Epoch 25/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2567 - accuracy: 0.9058 - val_loss: 0.2900 - val_accuracy: 0.8936
Epoch 26/50
42/42 [==============================] - 19s 453ms/step - loss: 0.2310 - accuracy: 0.9256 - val_loss: 0.2442 - val_accuracy: 0.9179
Epoch 27/50
42/42 [==============================] - 19s 456ms/step - loss: 0.2441 - accuracy: 0.9180 - val_loss: 0.2584 - val_accuracy: 0.9210
Epoch 28/50
42/42 [==============================] - 19s 460ms/step - loss: 0.2045 - accuracy: 0.9347 - val_loss: 0.2333 - val_accuracy: 0.9210
Epoch 29/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2535 - accuracy: 0.9142 - val_loss: 0.2959 - val_accuracy: 0.9179
Epoch 30/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2507 - accuracy: 0.9150 - val_loss: 0.2865 - val_accuracy: 0.9119
Epoch 31/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2247 - accuracy: 0.9248 - val_loss: 0.2921 - val_accuracy: 0.8906
Epoch 32/50
42/42 [==============================] - 19s 455ms/step - loss: 0.2422 - accuracy: 0.9157 - val_loss: 0.2355 - val_accuracy: 0.9179
Epoch 33/50
42/42 [==============================] - 19s 454ms/step - loss: 0.1905 - accuracy: 0.9377 - val_loss: 0.2321 - val_accuracy: 0.9271
Epoch 34/50
42/42 [==============================] - 19s 455ms/step - loss: 0.1673 - accuracy: 0.9476 - val_loss: 0.2564 - val_accuracy: 0.9179
Epoch 35/50
42/42 [==============================] - 19s 454ms/step - loss: 0.2367 - accuracy: 0.9241 - val_loss: 0.2579 - val_accuracy: 0.9027
Epoch 36/50
42/42 [==============================] - 19s 456ms/step - loss: 0.1792 - accuracy: 0.9431 - val_loss: 0.2793 - val_accuracy: 0.9119
Epoch 37/50
42/42 [==============================] - 19s 455ms/step - loss: 0.1693 - accuracy: 0.9468 - val_loss: 0.2575 - val_accuracy: 0.9119
Epoch 38/50
42/42 [==============================] - 19s 455ms/step - loss: 0.1458 - accuracy: 0.9560 - val_loss: 0.2664 - val_accuracy: 0.9088
Epoch 39/50
42/42 [==============================] - 19s 453ms/step - loss: 0.1574 - accuracy: 0.9484 - val_loss: 0.2458 - val_accuracy: 0.9058
Epoch 40/50
42/42 [==============================] - 19s 457ms/step - loss: 0.1911 - accuracy: 0.9393 - val_loss: 0.2302 - val_accuracy: 0.9179
Epoch 41/50
42/42 [==============================] - 19s 454ms/step - loss: 0.1919 - accuracy: 0.9355 - val_loss: 0.2123 - val_accuracy: 0.9210
Epoch 42/50
42/42 [==============================] - 19s 455ms/step - loss: 0.1515 - accuracy: 0.9514 - val_loss: 0.2391 - val_accuracy: 0.9179
Epoch 43/50
42/42 [==============================] - 19s 453ms/step - loss: 0.1684 - accuracy: 0.9431 - val_loss: 0.2293 - val_accuracy: 0.9301
Epoch 44/50
42/42 [==============================] - 19s 458ms/step - loss: 0.1678 - accuracy: 0.9476 - val_loss: 0.2477 - val_accuracy: 0.9210
Epoch 45/50
42/42 [==============================] - 19s 454ms/step - loss: 0.1500 - accuracy: 0.9514 - val_loss: 0.2290 - val_accuracy: 0.9210
Epoch 46/50
42/42 [==============================] - 19s 452ms/step - loss: 0.1506 - accuracy: 0.9506 - val_loss: 0.2526 - val_accuracy: 0.9119
Epoch 47/50
42/42 [==============================] - 19s 454ms/step - loss: 0.1715 - accuracy: 0.9476 - val_loss: 0.2141 - val_accuracy: 0.9210
Epoch 48/50
42/42 [==============================] - 19s 457ms/step - loss: 0.1458 - accuracy: 0.9491 - val_loss: 0.2285 - val_accuracy: 0.9210
Epoch 00048: early stopping

In [0]:
model11.save('model11VGG16.h5')

In [0]:
model22.fit_generator(train_gen,epochs=50,validation_data=val_gen,callbacks=[early])

Epoch 1/50
42/42 [==============================] - 17s 409ms/step - loss: 0.6508 - accuracy: 0.6545 - val_loss: 0.5638 - val_accuracy: 0.7295
Epoch 2/50
42/42 [==============================] - 17s 407ms/step - loss: 0.5220 - accuracy: 0.7509 - val_loss: 0.5310 - val_accuracy: 0.7477
Epoch 3/50
40/42 [===========================>..] - ETA: 0s - loss: 0.5420 - accuracy: 0.7508

In [0]:
test_gen=gen.flow_from_directory('',classes=['test'],target_size=(224,224),color_mode='rgb',batch_size=32)

Found 706 images belonging to 1 classes.

In [0]:
pred=model.predict_classes(test_gen)

WARNING:tensorflow:From <ipython-input-35-fd742de00e06>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [0]:
pred=pred.ravel()

In [0]:
pred

array([1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1], dtype=int32)

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('test.csv')

In [0]:
df.head()

  image_names
0    1960.jpg
1     668.jpg
2    2082.jpg
3     808.jpg
4    1907.jpg

In [0]:
sub=df.copy()
sub['emergency_or_not']=0

In [0]:
sub.head()

  image_names  emergency_or_not
0    1960.jpg                 0
1     668.jpg                 0
2    2082.jpg                 0
3     808.jpg                 0
4    1907.jpg                 0

In [0]:
i=0
sub1=pd.DataFrame(columns=sub.columns)
for file in os.listdir('test'):
  sub1=sub1.append({'image_names':file,'emergency_or_not':pred[i]},ignore_index=True)
  sub1.reset_index()
  i+=1

In [0]:
import matplotlib.pyplot as plt
import numpy as np
from skimage.transform import resize

In [0]:
preds=[]
for file in names:
  im=plt.imread('test/'+file)
  im=im/255
  im=resize(im,(224,224))
  im=np.expand_dims(im,axis=0)
  preds.append(model.predict_classes(im)[0][0])

In [0]:
len(preds)

706

In [0]:
sub=df.copy()

In [0]:
sub['emergency_or_not']=preds

In [0]:
names=sub['image_names'].values

In [0]:
sub.head()

  image_names  emergency_or_not
0    1960.jpg                 1
1     668.jpg                 0
2    2082.jpg                 1
3     808.jpg                 0
4    1907.jpg                 1

In [0]:
df.head()

  image_names
0    1960.jpg
1     668.jpg
2    2082.jpg
3     808.jpg
4    1907.jpg

In [0]:
sub.to_csv('Mysub1.csv',index=False)

In [0]:
p=[]
for j in preds:
  if j==0:
    p.append(1)
  else:
    p.append(0)

In [0]:
sub=df.copy()
sub['emergency_or_not']=p

In [0]:
sub.head()

  image_names  emergency_or_not
0    1960.jpg                 0
1     668.jpg                 1
2    2082.jpg                 0
3     808.jpg                 1
4    1907.jpg                 0

In [0]:
sub.to_csv('Mysub2.csv',index=False)